{% extends "base.html" %} {% block content %}
<div class="row class-container">
    <div class="col-12">
        <div class="text-center my-3" style="font-family: 'Engagement', cursive;
        font-size: 32px;">
            <h2>List Of All Recent Reviews </h2>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Reviewed By</th>
                    <th scope="col">Review</th>
                    <th scope="col">Current Status</th>
                </tr>
            </thead>
            <tbody>
                {% if session.role|lower=="admin" %} {% for value in reviews %}
                <tr>
                    <td><b>{{value.reviewed_by}}</b></td>
                    <td>{{value.book_review}}</td>
                    <td>{{value.review_status}}</td>
                    <td>
                        <a href="{{url_for('update_review',review_id=value._id)}}"><i class="fas fa-edit"></i>Approve Review</a>

                    </td>

                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}